# Xcode
build/
DerivedData/

xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*

!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings