# Xcode

.DS_Store
build/
DerivedData/

xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*

!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

UserInterfaceState.xcuserstate 

# .NET
[Bb]in/
[Oo]bj/
*.user
.vs/

# Claude
CLAUDE.local.md
.claude/settings.local.json